.signup-container {
    padding: 50px;
    background: #ccc;
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
}

.signup-container h1 {
    text-align: center;
    color: rgb(74, 68, 68);
}

.signup-form {
    margin: 10px;
}



.btn-wrapper {
    display: flex;	
    justify-content: center;
}

.btn-wrapper button {
    color: rgb(74, 68, 68);
    font-size: 20px;
    width: 60%;
    height: 40px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid rgb(183, 178, 178);
}

.btn-wrapper button:hover {
    background-color: rgba(183, 178, 178, .6);
    transition: all .3s ease-in-out;
}

.btn-wrapper button:focus {
    outline: none;
    }
    
.btn-wrapper button:active {
        box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
    }

button:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}