label {
    color: rgb(74, 68, 68);
}

.input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 7px;
    /* margin: 0 0 5px; */
    width: 95%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(183, 178, 178);
}

.error-container {
    position: relative; 
    height: 20px; 
}

.error-container span {
    position: absolute; 
    color: red;
    font-size: 10px;
 }