.signup-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: rgb(239, 240, 239);
}

.signup-container > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.signup-container h1 {
    text-align: center;
}

.signup-form {
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
} 