.signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: rgb(239, 240, 239);
}

.signup-form {
    flex-direction: column;
}